@page
@model GameManagerUi.Pages.Players.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Player.PlayerId" />
            <div class="form-group">
                <label asp-for="Player.FirstName" class="control-label"></label>
                <input asp-for="Player.FirstName" class="form-control" />
                <span asp-validation-for="Player.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.LastName" class="control-label"></label>
                <input asp-for="Player.LastName" class="form-control" />
                <span asp-validation-for="Player.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.TeamId" class="control-label"></label>
                <select asp-for="Player.TeamId" class ="form-control" asp-items="@Model.TeamSelect"></select>
                <span asp-validation-for="Player.TeamId" class="text-danger"></span>
            </div>
             <div class="d-flex justify-content-between">
                <p>
                <a class="btn btn-outline-primary" asp-page="./Index">Cancel</a></p>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
