@page
@model GameManagerUi.Pages.Venues.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Venue.VenueId" />
            <div class="form-group">
                <label asp-for="Venue.Street" class="control-label"></label>
                <input asp-for="Venue.Street" class="form-control" />
                <span asp-validation-for="Venue.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.City" class="control-label"></label>
                <input asp-for="Venue.City" class="form-control" />
                <span asp-validation-for="Venue.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.PostCode" class="control-label"></label>
                <input asp-for="Venue.PostCode" class="form-control" />
                <span asp-validation-for="Venue.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.Country" class="control-label"></label>
                <input asp-for="Venue.Country" class="form-control" />
                <span asp-validation-for="Venue.Country" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between">
                <p>
                <a class="btn btn-outline-primary" asp-page="./Index">Cancel</a></p>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
