@page
@model GameManagerUi.Pages.Matches.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Match.HomeTeamId" class="control-label"></label>
                <select asp-for="Match.HomeTeamId" class ="form-control" asp-items="@Model.TeamSelect"></select>
                <span asp-validation-for="Match.HomeTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.AwayTeamId" class="control-label"></label>
                <select asp-for="Match.AwayTeamId" class ="form-control" asp-items="@Model.TeamSelect"></select>
                <span asp-validation-for="Match.AwayTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.HomeScore" class="control-label"></label>
                <input asp-for="Match.HomeScore" class="form-control" />
                <span asp-validation-for="Match.HomeScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.AwayScore" class="control-label"></label>
                <input asp-for="Match.AwayScore" class="form-control" />
                <span asp-validation-for="Match.AwayScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Match.Data" class="control-label"></label>
                <input asp-for="Match.Data" class="form-control" />
                <span asp-validation-for="Match.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
