/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

*{
  font-family: 'Montserrat', sans-serif;
}
html{
  font-size: 12px;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size: 14px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

#select-game-manager{
  margin: 6rem;
  background: #eeeeff;
  padding: 4rem;
  border-radius: 1rem;
  transform: scale(.70);
}

#select-game-manager> * {
  color: #3a2753;
}

td{
  position: relative;
}

#select-game-manager > table > tbody a i.fa-times {
  position: absolute;
  right: 2rem;
  top: 2.2rem;
  color: #c4c4c4;
  font-size: 1.2rem;
}

#select-game-manager > table > tbody a i.fa-times:hover {
  color: #585858;
}


#select-game-manager > table h6{
  color: #bebde7;
  font-style: italic;
}

#select-game-manager > table tr:nth-child(even) {
  background: #f7f7ff;
}


#select-game-manager > table td {
  padding: 1rem 1rem .7rem 1rem;
  border: none;
  border-radius: .4rem;
}

#select-game-manager > table tr:hover{
  background: white;
}

#select-game-manager > table{
  text-align: left;
  cursor: pointer;
  padding: 4rem;
  background: #fafafa;
  border-radius: .5rem;
}

#select-game-manager  h6 >i{
  position: absolute;
  color: #cecece;
  right: .5rem;
  top: .5rem;
}

#select-game-manager > .d-flex > h6{
  position: relative;
}

#select-game-manager > .btn-outline-primary {
  margin: 2rem 0 0;
  width: 100%;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 800;
  background: white;
  border: none;
}

#select-game-manager > .btn-outline-primary:hover {
  background: #f5f5ff;
}

.fas.fa-sort-down.pl-2{
  vertical-align: top;
}

#select-game-manager  #show-all-managers{
  padding: .6rem 1rem;
  margin-top: 1rem;
  background: #604189;
  border: none;
}

#select-game-manager  #show-all-managers:hover{
  background: #7754a5;
  border: none;
}

#add-new-game-manager form{
  border: none;
  margin-top: 4rem;
  background: #eeeeff;
  padding: 2rem 3rem;
  border-radius: 1rem;
  min-width: 30rem;
}

#add-new-game-manager{
  color: #604189;
  padding: 4rem;
}

.btn.btn-primary{
  background: #604189;
}

.btn.btn-outline-primary{
   background: white;
  color: #604189;
  border-color: #604189;
}

.btn.btn-outline-primary:hover{
  background: #ebdaff;
}

.table{
  margin-top: .5rem;
  padding: 1rem;
  border-radius: .5rem;
  background: #f5f5ff;
  text-align: center;
}

.table > tbody> tr > td{
  vertical-align: middle;
  border: none;
}

tr >:nth-child(even){
 background-color: rgba(247, 252, 255, 0.22);
}

.table > tbody tr:nth-child(even){
  background-color: #f1eaff;
}

.table > tbody tr:hover{
   background-color: #e5dcff;
 }

.table > tbody > tr > td > .btn-outline-primary{
  margin-left: .75rem;
}


.table > thead> tr > th{
   background: #604189;
   color: white;
   padding: 1rem;
   border: none;
}

.table > thead > tr > :first-child {
  border-top-left-radius: .3rem;
}

.table > thead > tr > :last-child {
  border-top-right-radius: .3rem;
}

header .fa-times {
  color: #717171;
  font-size: 1rem;
}

.nav-link.active-link{
  background-color: blue;
}




