@page
@model GameManagerUi.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-between">
<h1>Team List</h1>
   <p><a class="btn btn-success"  asp-page="Create">Add Team<i class="fas fa-plus pl-2"></i></a></p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Team) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.TeamId"><i class="far fa-edit"></i></a>
                <a class="btn btn-outline-primary" asp-page="./Delete" asp-route-id="@item.TeamId"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
