@page
@model GameManagerUi.Pages.GMs.CreateModel
<div id="add-new-game-manager">
    <h4>Add New Game Manager</h4>
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="GameManager.Name" class="control-label"></label>
                        <input asp-for="GameManager.Name" class="form-control" placeholder="Enter Manager Name"/>
                        <span asp-validation-for="GameManager.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GameManager.PlayerLimit" class="control-label"></label>
                        <input asp-for="GameManager.PlayerLimit" class="form-control" placeholder="Minimum Player Count"/>
                        <span asp-validation-for="GameManager.PlayerLimit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                       <a class="btn btn-outline-primary" asp-page="Index">Cancel</a> <input type="submit" value="Next" class="btn btn-primary float-right"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
